.features
  .features__item
    i.features__icon.fas.fa-phone-alt(aria-hidden="true")
    h3.features__title Llamanos de día o de noche
    p.features__description Marca 11873 desde tu teléfono fijo o móvil y serás atentido por alguno de nuestros operadores
  .features__item
    i.features__icon.fas.fa-info-circle(aria-hidden="true")
    h3.features__title Respondemos todas tus dudas
    p.features__description Pregunta por el teléfono de la empresa u organismo de tu interés y pondremos sus datos a tu disposición
  .features__item
    i.features__icon.fas.fa-user-tie(aria-hidden="true")
    h3.features__title Atención inmediata
    p.features__description El agente te podrá conectar directamente o si lo prefieres te facilitará el teléfono en segundos