footer.footer
  .wrapper.bg--secondary
    .container
      .row
        .col-xs-12
          .footer__top
            h2 Marca ahora 11873
            p
              |y consigue el teléfono que buscas
              a(href="#price") (*) ver precios            
              |Para llamadas desde el extranjero marque 
              a(href="tel:91XXXXXXX") 91XXXXXXX
  .wrapper.bg--primary
    .container
      .row
        .col-xs-12
          .footer__bottom
            a.brand(href="./index.html").brand--footer
              .brand__content
                span.brand__title Asistencia Extranjera
                span.brand__subtitle Consiguelo todo con una llamada
            .footer__copyright
              .footer__nav
                a(href="") Quiénes somos
                a(href="") Atención al cliente
                a(href="") Condiciones del servicio
              p &copy; Service provided by Sumando Servicios Inteligentes S.L.
            .footer__networks
              a(href="")
                i.fab.fa-facebook-square
              a(href="")
                i.fab.fa-instagram
              a(href="")
                i.fab.fa-twitter-square