header.header
  .wrapper.bg--primary
    .container
      .header__content
        a.brand(href="./index.html")
          .brand__content
            span.brand__title Asistencia Extranjera
            span.brand__subtitle Consiguelo todo con una llamada
        .menu
          //- .menu__line
          nav#menuNav.menu__nav
            a.menu__item(href="") Quiénes somos
            a.menu__item(href="") Atención al cliente
            a.menu__item(href="") Condiciones del servicio
          #menuBtn.menu__btn
            span.menu__shape