section.hero
  .hero__wrapper
      .hero__container
        .hero__content
          h1.hero__title
            span Llama al 11873 
            |y consigue todo con 
            span una sola llamada
          p.hero__subtitle.
            Te podemos conectar con el teléfono que buscas o si lo prefieres te lo facilitamos de manera inmediata
          .hero__cta
            a.btn.btn--shine(href="tel:11873" target="_blank")
              i.fas.fa-phone-alt.ring
              |Llama al 11873
          p#price.hero__price.
            Precio del servicio desde redes fijas y moviles 3,05€ por minuto IVA incluido
  .hero__footer
    nav.hero__nav
      a.hero__item(href="") Telecomunicaciones
      a.hero__item(href="") Seguros
      a.hero__item(href="") Banca
      a.hero__item(href="") DNI
      a.hero__item(href="") Energéticas
      a.hero__item(href="") Envíos
      a.hero__item(href="") Comercio
      a.hero__item(href="") Servicios Púlicos
      a.hero__item(href="") Tecnología
      a.hero__item(href="") Transporte
      a.hero__item(href="") Alimentación
      a.hero__item(href="") Entretenimiento