html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  width: 100%;
}

hr {
  margin: 3% 0;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

video {
  width: 100%;
  height: auto;
}

fieldset {
  border: 1px solid $black;
  padding: 5%;
}

body {
  position: relative;
	margin: auto;
  min-height: 100%;
  color: $dark-gray;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: 400;
	overflow-x: hidden;
  line-height: 1;
  overflow-x: hidden;
  &.freeze {
    overflow: hidden;
  }
  // & .mobile-only {
  //   @include respond-to(large) {
  //     display: none;
  //   }
  // }
  // & .desktop-only {
  //   display: none;
  //   @include respond-to(large) {
  //     display: inherit;
  //   }
  // }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ubuntu;
  font-weight: 700;
}