.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
  width: 100%;
  &__item {
    margin-bottom: 60px;
    width: 100%;
    @include respond-to(large) {
      margin-bottom: 0;
      width: 30%;
      min-height: 170px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    font-size: 40px;
    text-align: center;
    color: $secondary;
    display: block;
  }
  &__title, &__description {
    text-align: center;
  }
  &__title {
    margin: 20px 0;
    color: $primary;
    font-size: 20px;
    line-height: 1;
  }
  &__description {
    font-size: 18px;
    line-height: 1.4;
  }
}